body {

    font-family: 'Lobster', cursive;
    margin: 0%;

}

h1 {

    font-size: 50px;


}

h2 {

    font-size: 40px;

}

.orange-color {

    color: orange;


}

.flexiable-container {
    display: flex;
    margin-bottom: 05%;




}

.half-width {

    width: 35%;
    padding-left: 5%;


}

.half-width img {

    width: 85%;
    padding-left: 2%;


}

.link-button {

    text-decoration: none;
    background-color: greenyellow;
    padding: 2% 3%;
    border-radius: 15%;


}

.top-banner {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;




}


.Dream-big {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;




}

.shadow {

    box-shadow: 10px 10px 15px rgb(85, 105, 111);
    width: 30;
    margin-left: 05%;
    margin-right: 05%;
    padding-left: 07%;
    border-radius: 10px;


}

.experience-area {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;



}

#fullstack-developer {

    border-left: 7px solid orange;

}

#baby-developer {

    border-left: 7px solid blue;

}


footer p {

    text-align: center;

}