body {

    font-family: 'Lobster', cursive;
    margin: 0%;

}

h1 {

    font-size: 50px;


}

.orange-color {

    color: orange;


}

section {
    display: flex;




}

.half-width {

    width: 35%;
    padding-left: 5%;


}

.half-width img {

    width: 85%;
    padding-left: 2%;


}

.link-button {

    text-decoration: none;
    background-color: greenyellow;
    padding: 2% 3%;
    border-radius: 15%;


}

.top-banner {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;




}